.table-head {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #444;
}

.custom_adjust {
    margin: -25px 0 0 10px;

}

.search, .search:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-left: 24px;
}

.btnChange {
    margin: 0 0 0 42px;
}

.adjustIcon {

    margin: 5px 0px 0px -24px;
    display: block;
    z-index: 9;
    cursor: pointer;
}

.chip_list {
    margin: 0px;
}

/*.wdata {*/
    /*text-shadow: 2px 3px 6px black;*/
/*}*/

.search_fixed {
    position: fixed;
    top: 64px;
    left: 72px;
    width: calc(100% - 72px);
    height: auto;
    background-color: #fff;
    z-index: 13;
    border: 1px solid #ddd;
    box-shadow: 3px 2px 9px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    margin-left: 0px;
}

.heading_title {
    padding: 12px;
    font-size: 43px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.search_sec {
    font-size: 14px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #777797;
    font-size: 14px;

}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #777797;
    opacity: 1;
    font-size: 14px;

}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777797;
    opacity: 1;
    font-size: 14px;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #777797;
    font-size: 14px;

}

.campain_table {
    margin-left: 10px;
}

.main_container {
    text-align: center;
    width: 60%;
}

html {
    min-width: 100%;
}

.errors {
    font-family: 'Montserrat', sans-serif;
    color: red;
}

#btnadd {
    background-color: lightseagreen;
    margin-left: 30px;
}

.adjust_column {
    min-width: 155px;
    max-width: 200px;
    white-space: normal !important;
}


