
.pagenation {
    float: right;
    margin-right: 20px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

.theatre_report {
    width: 100%;
    margin-bottom: 14px;
    margin-top: 5px;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.detail_btn {
    width: 100%;
    text-align: right;
    margin: 9px -4%;
}

.detail_btn button {
    margin-bottom: 20px;
}

.search_btn {
    margin: 22px 0 0 15px;
}

.filter_btn {
    margin: 22px 0 0 15px;
}

.date_message {
    text-align: center;
    margin-top: 40px;
}

.float_right {
    text-align: right;
    width: 100%;
    margin: 10px 0px;
}

.margin_left_15 {
    margin-left: 15px;
}

#theatre_table {

    margin-left: 7px;
}